@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

:root {
  --main-white: #FFFFFF;
  --secondary-grey: #C0C0C0;
  --blue-button: #167BF7;
  --background-black: #00030C;
  --primary-font: 'Inter';
}

body {
  background-color: var(--background-black);
  font-family:var(--primary-font);
  color: var(--main-white);
}

.mainText {
  color: var(--main-white);
  font-size: 28px;
  font-weight: 700px;
  margin: 0 0 1em 0;
}

*{
  margin: 0;
  padding: 0;
}

.cnt1 {
  background-image: url(./img/Background.png);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: contain;
  display:grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
}

.botao__container {
  background-color: var(--blue-button);
  border-radius: 5px;
  padding: 1em;
  color: var(--main-white);
  text-decoration: none;
  display: block;
  margin: 2em 12em 1em 12em;
}

.botao__container:hover {
  background-color: #588ef8;
}

.botao__container2 {
  background-color: transparent;
  border: 2px solid var(--secondary-grey);
  border-radius: 5px;
  padding: 1em;
  color: var(--main-white);
  text-decoration: none;
  display: block;
  margin: 1em 12em 1em 12em;
}

.botao__container2:hover {
  border: 2px solid #ffffff;
}

.disclaimer {
  font-size: 12px;
  font-weight: 400px;
  color: var(--secondary-grey);
}

.pg2__container {
  display:grid;
  grid-template-columns: 50% 50%;
  align-items: center;
  text-align: center;
  margin: 0 0 15em 0;
}

.pg2__text {
  text-align: left;
}

.pg__h1{
  font-size: 48px;
}

h3 {
  color: var(--secondary-grey);
  font-size: 16px;
  font-weight: 400;
  margin-top: 1em;
}

h4 {
  color: var(--secondary-grey);
  font-size: 12px;
  font-weight: 400;
  margin-top: 2em
}

.Telas {
  margin: 0 0 0 10em;
}

.pg3__desc {
  text-align: left;
  margin: 0 0 0 12em;
}

.pg3__btn {
  background-color: var(--blue-button);
  border-radius: 5px;
  padding: 1em;
  color: var(--main-white);
  text-decoration: none;
  display: block;
  margin: 2em 35em 1em 12em;
}

.pg3__btn:hover {
  background-color: #588ef8;
}

.pg5__header {
  font-size: 48px;
  text-align: center;
  margin-top: 8em;
  margin-bottom: 2em;
}

.pg5__container {
  display:flex;
  align-items: center;
  text-align: center;
  margin: 2em 0 0 0;
  justify-content: center;
  list-style-type: none;
  
}

.pg5__img {
  margin: 0 3em 0 3em;
}

.itemDesc {
  font-size: 32px;
  color: var(--main-white);
  margin-top: 1em;
}

.footer__container {
  align-items: center;
  text-align: center;
  margin: 15em 0 0 0;
}

.listItem1 {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  margin: 0 0.8em 0 0.8em;
}

.listItem1:hover{
  text-decoration:underline
}

.list1 {
  display:flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  list-style-type: none;
}

.aluraLogo {
  width: 150px;
  margin-bottom: 4em;
}

.finalDesc {
  margin: 2em 0 15em 0;
}